@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background: black;
}

.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(131, 200, 28);
  font-size: 30px;
}

.sixtyfour {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}